# From a github template for removing unneccessary C++ files

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

# The project1 executable
project1

# Files returned by tests
*.diff
project1.out

# Mac setup files
*.DS_Store

# VS Code setup files
*.vscode
